@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Short+Stack&display=swap');

body {
    width: 92%;
    margin: 0 auto;
    overflow-x: hidden;
    color: #555;
    text-align: justify;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Degradado de fondo */
}

nav {
    border-bottom: 1px solid gainsboro;
    padding: 0 5%;
    width: 100%;
    height: 80px;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    font-size: 0.8em; 
}

.link {
    margin: 2px 1em;
    color: #555;
    text-decoration: underline;
    text-decoration-color: pink;
    text-decoration-thickness: 3px;  
    text-underline-offset: -20px; 
}

.link:hover {
    text-decoration-color: gainsboro;
    color: #e56f9a;
}

.link[href^="mailto"]:hover::after {
    content: '✉';
}

#banner {
    margin-top: 30px;
    width: 100%;
    min-height: 560px;
    background-image: url('../img/purrrrfect.avif');
    background-color: white;
    background-size: cover; /* Cambiado a cover para llenar el espacio */
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(90%) saturate(150%); /* Aumentar el brillo y la saturación */
}

main {
    padding: 20px;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: rgb(255, 192, 203);
    font-weight: 300;
}

p::first-letter {
    font-family: 'Pacifico', cursive;
    color: black;
    text-shadow: 1px 1px 1px rgba(255, 192, 203, 0.977); 
}